<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class ="main-content">
    {{>header}}
    <p>This website was created by Charlie Coleman. It uses data from mapbox.com and weatherstack.com to report the current weather!</p>
    <img class="portrait" src="/img/charliePicture.png">
    </div>
    {{>footer}}
</body>

</html>